<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner | Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <a href="index.html" class="logo">
            <img src="../static/images/logo.png">
        </a>
        <nav>
            <ul>
                <li><a class="state" href="signin.html">Sign In</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="questions">
            <div>
                <div class="question-comments">
                    <div class="question-no">Q.3</div>
                    <div class="upvotes">
                        <div class="arrow up"></div>
                        <div class="votes">500</div>
                        <div class="arrow down"></div>
                    </div>
                    <div class="question-body">
                        <a href="#" class="question-details">what is the purpose of this meetup I dont understand</a>
                        <p>Submitted by <a href="#" class="submittedby">Jkamz</a> at 12:23pm</p>
                        <div class="question-options">
                            <!-- <span><a href="#">5 Comments</a></span> -->
                            <!-- <span><a href="newcomment.html">Reply </a></span> -->
                            <!-- <span>Report</span> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-actions">
                <button class="add-question-button" onclick="location.href='meetup.html'">All Questions</button>
            </div>
        </div>
        <div class="comments-container">
            <div class="title-comments">
                <h2>Comments</h2>
            </div>
            <div class="form-comment">
                <form class="comment-form">
                    <textarea type="text" name="comment" id="comment" placeholder=" Enter new comment here"></textarea><br>
                    <button class="comment-button">Add Comment</button>
                </form>
            </div>
            <div class="comments-loading">
                <img src="../static/images/loading.gif">
            </div>
            <div class="comments">
                <div>
                    <a href="#" class="question-details">what is the purpose of this meetup I dont understand</a>
                    <p>Submitted by <a href="#" class="submittedby">Jkamz</a> at 12:23pm</p>
                </div>

            </div>
        </div>

    </main>
<script type="text/javascript" src="../static/js/comments.js"></script>
</body>

</html>
