<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner | Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <a href="index.html" class="logo">
            <img src="../static/images/logo.png">
        </a>
        <nav>
            <ul>
                <li><a href="signin.html">Sign In</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="banner-meetup">
            <div class="meetup-info">
                <h2>Python Conference</h2>
                <div class="host">
                    <span>Hosted by <a href="#">Jkamz</a> on </span>
                    <span>Jan 06</span>
                </div>
                <div>
                    <details>
                        <summary>This is a meetup about pythonistas in Nairobi</summary>
                        Aliquam quis tristique ipsum. Nulla volutpat ligula sed elit maximus, nec porttitor ipsum tincidunt. Sed quis semper libero. Aliquam lacinia ultrices orci vitae eleifend. Quisque pharetra tempor faucibus. In vulputate suscipit libero, in iaculis lectus mattis quis. Aliquam cursus dapibus quam a gravida.
                    </details>
                </div>
            </div>
        </section>
        <div class="questions">
            <div>
                <div class="question">
                    <div class="question-no">Q.1</div>
                    <div class="upvotes">
                        <div class="arrow up"></div>
                        <div class="votes">500</div>
                        <div class="arrow down"></div>
                    </div>
                    <div class="question-body">
                        <a href="question.html" class="question-details">what is the purpose of this meetup I dont understand</a>
                        <p>Submitted by <a href="#" class="submittedby">Jkamz</a> at 12:23pm</p>
                        <div class="question-options">
                            <span><a href="question.html">5 Comments</a></span>
                            <span>Report</span>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="question-no">Q.2</div>
                    <div class="upvotes">
                        <div class="arrow up"></div>
                        <div class="votes">500</div>
                        <div class="arrow down"></div>
                    </div>
                    <div class="question-body">
                        <a href="question.html" class="question-details">what is the purpose of this meetup I dont understand</a>
                        <p>Submitted by <a href="#" class="submittedby">Jkamz</a> at 12:23pm</p>
                        <div class="question-options">
                            <span><a href="question.html">5 Comments</a></span>
                            <span>Report</span>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="question-no">Q.3</div>
                    <div class="upvotes">
                        <div class="arrow up"></div>
                        <div class="votes">500</div>
                        <div class="arrow down"></div>
                    </div>
                    <div class="question-body">
                        <a href="question.html" class="question-details">what is the purpose of this meetup I dont understand</a>
                        <p>Submitted by <a href="#" class="submittedby">Jkamz</a> at 12:23pm</p>
                        <div class="question-options">
                            <span><a href="question.html">5 Comments</a></span>
                            <span>Report</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-actions">
                <button class="add-question-button">Add Your Question</button>
            </div>
        </div>
    </main>
    <footer>
        <ul class="footer-user-account">
            <li>Your Account</li>
            <li><a href="signup.html">Profile</a></li>
            <li><a href="signin.html">Sign In</a></li>
            <li><a href="signup.html">Sign Up</a></li>
        </ul>
        <ul class="footer-latest-meetups">
            <li><span>Latest Meetups</span></li>
            <li><a href="#">MEETUP 7 - <span>A meetup about bla bla to be held</span></a></li>
            <li><a href="#">MEETUP 9 - <span>A meetup about bla bla to be held</span></a></li>
            <li><a href="#">MEETUP 10 - <span>A meetup about bla bla to be held</span></a></li>
            <li><a href="#">MEETUP 11 - <span>A meetup about bla bla to be held</span></a></li>
        </ul>
        <div class="social">
            <a href="#">
                <img src="../static/images/facebook_symbol.png" alt="facebook icon">
            </a>
            <a href="#">
                <img src="../static/images/linkedin_symbol.png" alt="linkedin icon">
            </a>
            <a href="#">
                <img src="../static/images/instagram_symbol.png" alt="instagram icon">
            </a>
        </div>
    </footer>
</body>

</html>
