<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner | New Meetup</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <a href="index.html" class="logo">
            <img src="../static/images/logo.png">
        </a>
        <nav>
            <ul>
                <li><a href="#">Admin</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add New Meetup</h1>
        <div id="form-container-meetup">
            <form>
                <label for="title">Topic:</label>
                <input type="text" id="title" name="title">
                <label for="host">Host:</label>
                <input type="text" id="host" name="host">
                <label for="summary">Summary:</label>
                <input type="text" name="summary" placeholder="enter meetup summary here">
                <label for="description">Location:</label>
                <input type="text" name="description" placeholder="enter meetup location here">\
                <label for="description">Date:</label>
                <input type="text" name="description" placeholder="enter meetup happening on date here">
                <div id="post-comment">
                    <input type="submit" value="Submit">
                </div>
                <div id="signup-text">
                    <p><a href="index.html">Go Back</a></p>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
