<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner | Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <a href="index.html" class="logo">
            <img src="../static/images/logo.png">
        </a>
        <nav>
            <ul>
                <li><a class="state" href="signup.html">John Doe</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="form-container-question">
            <form>
                <textarea id="new-question" name="question" placeholder="Add new question here"></textarea>
                <div id="post-question">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
<script type="text/javascript" src="../static/js/newquestion.js"></script>
</body>

</html>
