<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner | Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <a href="index.html" class="logo">
            <img src="../static/images/logo.png">
        </a>
        <nav>
            <ul>
                <li><a href="login.html">Sign Up</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container">
            <form>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <div id="login">
                    <input type="checkbox"><label for="checkbox">Sign in as Admin</label>
                    <input type="submit" value="Login">
                </div>
                <div id="signup-text">
                    <p>Don't have an account yet? <a href="signup.html">Sign Up</a></p>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
