<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questioner | Welcome</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <header>
        <a href="index.html" class="logo">
            <img src="../static/images/logo.png">
        </a>
        <nav>
            <ul>
                <li><a href="signin.html">Sign In</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="form-container-signup">
            <form>
                <fieldset>
                    <p><input type="text" id="firstname" placeholder="First Name" required=""></p>
                    <p><input type="text" id="lastname" placeholder="Last Name" required></p>
                    <p><input type="email" id="email" placeholder="Email" required></p>
                    <p><input type="text" id="username" placeholder="Username" required></p>
                    <p><input type="text" id="phonenumber" placeholder="Phone Number" required></p>
                    <p><input type="password" id="password" placeholder="Password" required minlength="8"></p>
                    <p><input type="password" id="passwordconfirm" placeholder="Confirm Password" required></p>
                </fieldset>
                <div id="signup">
                    <!-- <input type="checkbox"><label for="checkbox">Sign in as Admin</label> -->
                    <input type="submit" value="Signup" id="signupBtn" onclick="validatePass()">
                </div>
            </form>
            <div id="signup-text">
                <p>Already registered? <a href="signin.html">Sign In</a></p>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../static/js/auth.js"></script>
</body>

</html>
